<header class="bg-white shadow-sm border-b border-gray-100">
  <div class="max-w-4xl mx-auto px-6 py-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-3">
        <p-button
          class="p-2 text-gray-600 hover:text-blue-600 hover:bg-blue-50 rounded-lg transition-colors"
        >
          <!-- <ArrowLeft size={20} /> -->
        </p-button>
        <div class="flex items-center space-x-2">
          <div class="w-8 h-8 bg-blue-600 rounded-lg flex items-center justify-center">
            <!-- <Plane size={18} class="text-white" /> -->
          </div>
          <img src="assets/favicon-32x32" alt="" />
          <h1 class="text-xl font-semibold text-gray-800">溜达菇 - 智能旅行规划助手</h1>
        </div>
      </div>

      <div class="flex items-center space-x-2">
        <button pButton>
          <i pButtonIcon class="pi pi-history" variant="outlined"></i>
          <span pButtonLabel>历史记录</span>
        </button>
      </div>
    </div>
  </div>
</header>
